@page
@model GmailCleaner.Pages.AnalyzeModel
@{
}
<form method="post" class="row g-3">
    <div class="mb-3 text-center">
        <label for="numRequests" class="form-label">Number of Emails</label>
        <input type="number" placeholder="5" class="form-control text-center" id="formGroupNumber" for="numRequests">
    </div>
    <div class="col-12 mb-3 text-center">
        <button type="submit" class="btn btn-primary">Analyze My Inbox!</button>
    </div>
</form>