@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Please delete all connections to Gmail Cleaners from your google account and try again: <a href ="https://myaccount.google.com/connections?filters=3" target="_blank">Google Profile Page</a></p>