@page
@using GmailCleaner.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.IsAuthenticated)
    {
        <div class="card border-dark" style="padding: 20px">
            <div style="padding: 10px"><span>Thanks for logging in @Model.GCUser.Name</span></div>
            <form method="post" class="row g-3">
                <div class="col-12 mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Analyze My Inbox!</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="card border-dark" style="padding: 20px">
            <div style="padding: 10px"><span>Please log in to access features.</span></div>
            <div>
                <a class="btn btn-primary" href="https://localhost:8080/login" style="width: 85px">Login</a>
            </div>
        </div>
    }
</div>
