@page
@using GmailCleaner.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int usagesLeft = 5 - Model.Usages;

}

<div class="text-center">
    <h1 class="display-4">Welcome to Gmail Cleaner</h1>
    <p class="lead">Gmail Cleaner is a tool that helps you clean your Gmail inbox from unwanted emails.</p>
    @if (Model.IsAuthenticated)
    {
        <div class="card border-dark" style="padding: 20px">
            <div style="padding: 10px">
                <div>
                    <span>Thanks for logging in @Model.Name!</span>
                </div>
                <div>
                    <span>You have @usagesLeft left of GmailCleaner this month!</span>
                </div>
                <div>
                    <span>If you got here through the clean/delete your email data, Gmail Cleaner is no longer preserving an email metadata of yours :). </span>
                </div>
            </div>

            <form method="post" class="row g-3">
                <div class="col-12 mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Analyze My Inbox!</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="card border-dark" style="padding: 20px">
            <div style="padding: 10px"><span>Please log in to access features.</span></div>
            <div>
                <a class="btn btn-primary" href="https://localhost:8080/login" style="width: 85px">Login</a>
            </div>
        </div>
    }
</div>
