@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
    }

    h1, h2, h3 {
        color: #333;
    }
</style>
<div>
    <h1>Privacy Policy for Gmail Cleaner</h1>

    <p><em>Effective Date: 12/11/2023</em></p>

    <h2>Introduction</h2>

    <p>Welcome to Gmail Cleaner, a web application designed to enhance your Gmail experience by streamlining and optimizing your inbox. This privacy policy outlines how Gmail Cleaner collects, uses, and safeguards your information. Please read this document carefully to understand our practices and ensure a secure and transparent user experience.</p>

    <h2>Information Collection and Usage</h2>

    <p>Gmail Cleaner is committed to preserving your privacy and limiting the collection of personal information to the absolute minimum necessary for functionality. We solely focus on the identification and deletion of potential spam emails within your Gmail inbox. To achieve this, Gmail Cleaner minimizes the storage of user data to prevent excessive API calls.</p>
    <p><strong>Data Encryption:</strong> All information besides the metadata saved to our database is encrypted to ensure the highest level of security. This encryption helps protect your personal information from unauthorized access, providing a robust layer of privacy for our users.</p>
    <p><strong>Token Encryption:</strong> All tokens used to retrieve data are encrypted to ensure a secure connection and prevent unauthorized access. This additional layer of encryption enhances the overall security of your information during data retrieval processes. Our tokens are invalidated when a user revokes Gmail Cleaner from their
        third party apps connected to your profile, which can be done at any time at the <a href="https://myaccount.google.com/connections?filters=3" target="_blank">google page</a>
    </p>

    <h2>Usage Limits</h2>

    <p>To ensure fair usage and maintain optimal system performance, Gmail Cleaner imposes usage limits. Currently, users are permitted up to 5 cleans. Each instance of identifying and deleting potential spam emails during a cleanup session counts as one usage.</p>

    <h2>User Control and Choices</h2>

    <p>Gmail Cleaner prioritizes user control over personal information. Users can modify or delete their account information at any time. For more details on managing your data, please refer to our account settings.</p>

    <h2>Data Integrity and User Consent</h2>

    <p>Gmail Cleaner is dedicated to maintaining the integrity of your data and respecting your control over it. We want to assure our users that:</p>

    <p><strong>Data Editing:</strong> We will never edit your data without explicit consent from you. Any modifications or changes to your information will only be made with your explicit permission, typically obtained through explicit user actions such as clicking a confirmation button.</p>

    <p><strong>Email Deletion Policy:</strong> Gmail Cleaner will never permanently delete your emails. Instead, emails identified as potential spam will be moved to your trash inbox, allowing you the option to recover them at any time. This approach provides an additional layer of security, ensuring that no critical information is lost without your knowledge and consent.</p>

    <p>We believe in transparency and control, and our commitment is to empower users to manage their data securely and with confidence.</p>

    <h2>Third-Party Integration</h2>

    <p>Gmail Cleaner is dedicated to your privacy and does not share any user data with third parties. While we may utilize third-party services to enhance functionality and improve user experience, be assured that your information remains strictly confidential within the confines of Gmail Cleaner. These third-party services adhere to their own privacy policies, and users are encouraged to review them for a comprehensive understanding of data handling practices.</p>


    <h2>Policy Updates</h2>

    <p>Gmail Cleaner reserves the right to update this privacy policy to reflect changes in technology, legal requirements, and user feedback. Users will be notified of significant changes through the application or via email.</p>

    <h2>Contact Information</h2>

    <p>For inquiries regarding this privacy policy or any privacy-related concerns, please contact us at <a href="mailto:jimcampbell355@gmail.com">jimcampbell355@gmail.com</a>.</p>

    <h2>Conclusion</h2>

    <p>By using Gmail Cleaner, you agree to the terms outlined in this privacy policy. We are committed to maintaining the highest standards of privacy and security for our users.</p>
</div>
